::ng-deep .nombre-starship{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(197, 197, 197);
}

.info{
    padding: 10px;
    background-color: #2e2e2e;
    color: rgb(181, 181, 181);
}

.h2-title{
    text-transform: uppercase;
    border-top: 2px solid rgb(181, 181, 181);
    border-bottom: 2px solid rgb(181, 181, 181);
    color: rgb(181, 181, 181);
}

.card{
    border: 0px;
    background-color: transparent;

}
