$bg-color:  #2e2e2e;
::ng-deep .nombre-starship{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(197, 197, 197);
}

.info{
    padding: 10px;
    background-color: transparent;
    color: rgb(181, 181, 181);
}

.h2-title{
    text-transform: uppercase;
    border-top: 2px solid rgb(181, 181, 181);
    border-bottom: 2px solid rgb(181, 181, 181);
    color: rgb(181, 181, 181);
}

.card{
    border: 0px;
    background-color: $bg-color;
    clip-path: polygon(0 100%, 56% 100%, 57% 94%, 90% 94%, 92% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.back{
    display: flex !important;
    align-items: center !important;
    max-width: 100px !important;
}