$color-white: #d1d1d1;
$color-black: #393939;
$secundary: rgb(242, 210, 78);
$tertiary-color: rgb(255, 233, 144);
$forth-color: rgb(206, 173, 40);



.subtitulo{
    text-transform: uppercase;
    color: $color-white;
    text-wrap: balance;
}

.titulo{
    color: $color-white;
    font-size: 55px;
    text-wrap: balance;
}

.efecto-rechulon{
    font-weight: 500;
    transition: font-weight 0.2s ease-in-out;
}

.efecto-rechulon:hover{
    font-weight: 100;
}