<div class="container pt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="">
        <h2>Welcome back, mate</h2>
        <p>Log in to continue</p>
    </div>
    <div class="row">
        <form [formGroup]="loginProfile" (ngSubmit)="logIn()" class="col g-3">
            <div class="row mt-1">
                <label for="correo" class="form-label">Email:</label>
                <div class="d-inline-flex contenedor-input">
                    <mat-icon class="icon">mail</mat-icon>
                    <input type="email" id="correo" formControlName="email" class="form-control input-form"
                        placeholder="example@gmail.com" required>
                </div>

                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row mt-4">
                <label for="passwd" class="form-label">Constraseña:</label>
                <div class="d-inline-flex contenedor-input">
                    <mat-icon class="icon" fill="red">lock</mat-icon>
                    <input type="text" id="passwd" formControlName="password" class="form-control input-form"
                        placeholder="Your password" required>
                </div>
            </div>

            <div class="row mt-4">
                <button type="submit" [disabled]="!loginProfile.valid" class="btn">Log In</button>
            </div>
        </form>
    </div>

</div>