<div class="container pt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="">
        <h2>Bienvenido/a de nuevo al lado oscuro de la luna</h2>
        <p>Enter your email and password to continue</p>
    </div>
    <div class="row">
        <form [formGroup]="loginProfile" (ngSubmit)="logIn()" class="col g-3">
            <div class="row">
                <label for="correo" class="form-label">Email:</label>
                <input type="email" id="correo" formControlName="email" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <label for="passwd" class="form-label">Constraseña:</label>
                <input type="text" id="passwd" formControlName="password" class="form-control" required>
            </div>

            <div class="row">
                <button type="submit" [disabled]="!loginProfile.valid" class="btn">Log In</button>
            </div>
        </form>
    </div>

</div>