$secundary: rgb(242, 210, 78);
// ::ng-deep para que los elemetnos creados dinamicamente reciban bien los estilos.
::ng-deep .carta{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    padding: 2%;
    background-color: #2e2e2e;

    clip-path: polygon(0 100%, 56% 100%, 57% 94%, 90% 94%, 92% 100%, 100% 100%, 100% 0%, 0% 0%); //forma rechulona de la tarjeta
}

::ng-deep .nombre-starship{
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    gap: 25px;
}

::ng-deep .carta:hover{
    p{
        color: #2e2e2e !important;
    }
    cursor: pointer;
    // cursor: url(../../../assets/img/cursor/mano-grap.png), auto;
    background-color: rgb(242, 210, 78);

    
}