// ::ng-deep para que los elemetnos creados dinamicamente reciban bien los estilos.
::ng-deep .carta{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    padding: 2%;
}

::ng-deep .nombre-starship{
    font-weight: 700;
    text-transform: uppercase;
}

.container{
    gap: 25px;
}

::ng-deep .row:hover{
    cursor: pointer;
    background-color: rgb(173, 177, 230);
}