/* You can add global styles to this file, and also import other style files */
$background-color: #131313;
// :root{
//     --background-color: #{$background-color};
// }


body{
    background-color: --background-color !important;
    font-family: Roboto !important;
}
.dark-bg{
    background-color: $background-color;
}